<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fnmanpower.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/10d424af-a396-4d7f-99c3-4e42b0504cfb/resourceGroups/Manpower/providers/Microsoft.Web/sites/fnManpower</ResourceId>
    <UserName>$fnManpower</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fnmanpower.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>